<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sequence</key>
	<array>
		<string>depthPass</string>
	</array>
	<key>passes</key>
	<dict>
		<key>depthPass</key>
		<dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>program</key>
			<string></string>
			<key>metalVertexShader</key>
			<string>depthVertex</string>
			<key>metalFragmentShader</key>
			<string>depthFragment</string>
			<key>inputs</key>
			<dict>
				<key>depthSampler</key>
				<string>DEPTH</string>
				<key>colorSampler</key>
				<string>COLOR</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>COLOR</string>
			</dict>
		</dict>
	</dict>
	<key>targets</key>
	<dict/>
	<key>symbols</key>
	<dict/>
</dict>
</plist>
